*{
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
       /* background-color: #0d0c0cf3; */

}
.body{
    margin-right: 12px;
    margin-left: 12px;
}
header{
    position:fixed;
    width:100% ;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color: #0f0e0e;
    cursor: pointer;
}
.nav .logo{
    font-size: 25px;
    color: rgb(231, 19, 19);
}
.nav ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.nav ul a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.nav ul a:hover{
    color: rgb(232, 32, 32);
    border-bottom: 1px solid red;
    transition: 0.8s all ease-in-out;
}
.nav ul .home{
    color: rgb(217, 21, 21);
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}
.dark{
    border-radius: 30%;
    width: 25px;
}
.light{
    border-radius: 30%;
    width: 25px;
}
input[type=checkbox]{
    display: none;
}
label{
    display: none;
}
.main{
    position:relative;
    top: 90px;
}
.main .aboutme{
    display: flex;
    justify-content: space-between; 
     align-items: center;
}
.main .aboutme .content{
    text-align: justify;
}
.main .aboutme .content span{
    font-weight: 800;
    color: rgb(215, 17, 17);
}
.main .aboutme .img img{
    width: 170px;
}
.main .work{
    display: flex;
}
.main .work .card{
    position: relative;
    top: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 490px;
    padding: 20px;
    margin:10px 0 0 10px;
    background:linear-gradient(rgb(236, 217, 217),rgb(219, 217, 217),rgb(98, 97, 97));
    color: #d73030;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main .work .card h3{
    color:#000000
}
.main .work .card h3,p{
    background-color: transparent;
}
.testimonials{
    position: absolute;
    top: auto;
    margin: auto;
}
.resume{
    position: relative;
    top: 45px;
}
.resume .summary{
    padding: 20px;
}
.resume .education{
    margin-top: 20px;
}
.resume .info{
    display: flex;
}
.resume .info .left{
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #595555;
}
.resume .info .left .personal-data,.skills,.hobbies,h3{
    background-color:transparent;
}
.resume .info .right{
    border: 1px solid grey;
    border-radius: 15px;
    
}
.email{
    color: rgb(246, 19, 19);
    text-decoration: none;
}
.portfolio{
    position:relative;
    top:70px;
    /* left: 30px; */
    width: 100%;
    /* display:inline-block; */
    margin: auto;
}
.portfolio a img{
   width: 190px;
   height: 150px;
   filter: brightness(60%);
   /* width: 100%; */
   
}
.portfolio a img:hover{
    transition: 1s all ease-in-out;
}
.contact{
    position: relative;
    top: 90px;
}
.contact textarea{
    width: 100%;
    height: 190px;
    font-size: 20px;
    background-color:transparent;
    color: #eb5353;
}
.contact input{
    height: 28px;
    background-color:transparent;
    color: #c64343;
}
.contact button{
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin: auto;
    background-color:transparent;
    color: #f66161;
}
footer{
    background-color: #000000;
    width: 100;
}
footer .copyright{
    position: relative;
    margin-top:190px;
    text-align: center;
    color: #f2efef;
}
footer .foot-img{
    width: 20px;
    margin-top: 10px;
}


/* responsiveness */

@media(max-width:755px){
  .nav ul{
    display: none;
  }
  label{
    display: block;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  input[type=checkbox]:checked ~ ul{
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    height: 120px;
    text-align: center;
    background-color: #0e0e0eae;
    width: 100%;
    transition:all 0.5s ease-in-out ;
  }
  ul a{
    margin-bottom: 20px;
  }
}
@media(max-width:650px){
     *{
        margin: 0;
        padding: 0;
     }
    .main .aboutme{
        display: block;
    }
    .main .img img{
        margin-left:50px;
    }
    .resume .info{
        display: block;
    }
    *{
        margin-right: 0px;
        margin-left: 0px;
    }
}