*{
    margin: 0 30px;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}
body{
      background-color: #111111; 
}
.container {
    display: flex;
}
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11111159; 
    padding: 15px;
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 1;
}
.navbar .left .logo{
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
}
.container .navbar .right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.navbar .right li a{
    text-decoration: none;
    margin-left: 15px;
    color: rgb(219, 223, 226);
    background:none;
    text-transform: uppercase;
}
.navbar .right li a:hover{
    color: rgb(236, 17, 17);
    text-decoration: underline;
}
.navbar .right li #home{
    color: rgb(236, 17, 17);
}
.carausal-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 90px;
    background-color: #111111;
    color: #fff; 
}
.carausal-content .content{
    font-size: 20px;
    margin-left: 70px;
}
.carausal-content .content b{
    color: rgb(228, 8, 8);
}
.carausal-content .content p{
    color: rgb(162, 163, 163);
    margin-left: 0px;
}
.carausal-content .content button{
    padding: 15px;
    margin-left: 0px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #e54040;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.carausal-content .content button:hover{
    color: black;
    background-color: #aac31b;
}
.carausal-content .carausal-img img{
    width: 200px;
    height: 250px;
    position:relative;
    top:auto;
}
.my-expertise{
    position: relative;
    top: 20px;
    /* background-color: #13131329; */
    width: 100%;
    /* margin-left: 0; */
}
.my-expertise .my-skills{
    color: #fff;
    margin-bottom: 12px;
    border-bottom: 2px solid #fff;
    width: fit-content;
}
.my-expertise .skills{
    display: flex;
     color: #605e5e; 
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.my-expertise .skills .skill-1 img{
    background-color: #d54e4e;
    width: 160px;
    height: 100px;
    z-index:1;
    margin-left: 0;

}
.details{
    position: relative;
    top: 20px;
    margin-left: 0;
    color: #fff;
    padding: 10px;
}
.details h2{
    border-bottom: 2px solid #fff;
    width:fit-content;
}
.details li{
    color: rgb(193, 191, 191);
}
.contact{
    position: relative;
    top: 15px;
    color: #fff;
    text-align: center;
}
.contact img{
    width: 20px;
    margin-top: 18px;
}
@media (max-width:700px){
    *{
        margin: 0;
        padding: 0;
    }
    .navbar{
        position: relative;
    }
    .right ul li{
        display:block;
    }
    .right ul li a{
        display: block;
    }
    .carausal-content{
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        margin-top: 10px;
    }
    .carausal-img img{
        margin-left: 25px;
        margin-top: 12px;
    }
    .my-expertise .skills{
        display: block;
    }
input[type=checkbox]:checked ~ .right ul li{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 120px;
}
}
@media (max-width:500px){
    .right ul {
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        bottom: 20px;
        height: 90px;
    }
}

